In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('anova_lab_data.xlsx')
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

### Null Hypothesis:
Null Hypothesis H0= The Plasma Amount has no effect to the etching rate meaning that the means are all equal

### Alternative Hypothesis:A
Alternative Hypothesis H1= The Plasma Amount is directly related to the etching rate meaning that the plasma amount affects the etching rate and that the means are different for each plasma group

### Degrees of Freedom
df = data.shape[0]-1
print('The degree of freedom of the model is', df)

In [3]:
df = data.shape[0]-1
print('The degree of freedom of the model is', df)

The degree of freedom of the model is 14

### Level of significance and Confidence interval
Alpha = 0,05 and confidence 95%

### PART 2

In [4]:
data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [6]:
data.columns

Index(['Power ', 'Etching Rate'], dtype='object')

In [7]:
data.columns= data.columns.str.lower().str.replace(" ","_")

In [10]:

data.rename(columns={"power_": "power", "etching_rate": "etching_rate"}, inplace=True)

In [11]:
data["power"] = data["power"].apply(lambda x: x.replace(' W', '') if x.endswith('W') else x)
data["power"] = data["power"].astype(int)

### Finding means per Power category

In [13]:
data.groupby('power').agg(np.mean)

       etching_rate
power
160           5.792
180           6.238
200           8.318

### Anova

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('etching_rate ~ C(power)',data=data).fit()
sm.stats.anova_lm(model)

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

### P value is lower than alpha which means there is enought evidence to conclude that the category has an effect on the rate